/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/07/2015, 17:11:49
    Author     : DESEN
*/

.conteudo{
    display: table;
    border-right: 1px solid #e0e0e0;
    padding-right: 5%;
    padding-top: 3%;
    float: left;
    width: 700px;
    padding-left: 2%;
}


.conteudo h2{
    font-size: 20px;
    font-family: monospace;
    color: #8E949B;
}

.thumbnail{
    border: none;
}

.thumbnail img{
    //position: relative;
    height: 300px;
    width: 650px;
    //float: left;
    padding-bottom: 1%;
    
}
