/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/08/2015, 16:58:10
    Author     : DESEN
*/
.conteudo{
    float: left;
    max-width: 800px;
    padding-top: 5%;
    padding-left: 0.5%; 
}

.conteudo h2{
    color: #ccc;
    font-family: monospace;
    font-size: 25px;
    padding-left: 2%;
}

.conteudo p{
    padding-left: 2%;
    max-width: 700px;
    
}

.thumbnail {
    border: none;
}

.conteudo img{ 
    float: left;
    width: 600px;
    height: 300px;
}

.modal-dialog{
width: 850px;
}

.modal-dialog img{
    width: 800px;
    height: 500px;
    border-radius: 15px;
}
